# Primera entrega ML

### Título de proyecto

In [ ]:
# Escribir el título de proyecto en Markdown
titulo = "Satisfacción de pasajeros aereos"

### Tema

Vamos a Analizar la satisfacción de los clientes de una compañia Aérea en función de una serie de variables que se explican mas abajo


modelo = Clasifiación

métricas = Accuracy , precisipn, f1_score, confusion matrix

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

nero: Género de los pasajeros (Femenino, Masculino)

Tipo de cliente: el tipo de cliente :(cliente fiel, cliente desleal)

Edad: La edad real de los pasajeros.

Tipo de Viaje: Propósito del vuelo de los pasajeros (Viaje Personal, Viaje de Negocios)

Clase: Clase de viaje en el avión de los pasajeros (Business, Eco, Eco Plus)

Distancia de vuelo: la distancia de vuelo de este viaje

Servicio wifi a bordo: Nivel de satisfacción del servicio wifi a bordo (0: No aplicable; 1-5)

Hora de salida/llegada conveniente: Nivel de satisfacción de la hora de salida/llegada conveniente

Facilidad de reserva en línea: Nivel de satisfacción de la reserva en línea

Ubicación de la puerta: nivel de satisfacción de la ubicación de la puerta

Alimentos y bebidas: Nivel de satisfacción de Alimentos y bebidas

Embarque en línea: Nivel de satisfacción del embarque en línea

Comodidad del asiento: Nivel de satisfacción de Confort del asiento

Entretenimiento a bordo: Nivel de satisfacción del entretenimiento a bordo

Servicio a bordo: Nivel de satisfacción del servicio a bordo

Servicio de sala de piernas: Nivel de satisfacción del servicio de sala de piernas

Manejo de equipaje: Nivel de satisfacción del manejo de equipaje

Servicio de Check-in: Nivel de satisfacción del servicio de Check-in

Servicio a bordo: Nivel de satisfacción del servicio a bordo

Limpieza: Nivel de satisfacción de Limpieza

Retraso de salida en minutos: Minutos de retraso en la salida

Retraso de llegada en minutos: Minutos de retraso en la llegada

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\suert\OneDrive\Escritorio\Nueva carpeta\total.csv")
df

,Unnamed: 0.1,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
129876,25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
129877,25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
129878,25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
129879,25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [5]:
df.head ()

,Unnamed: 0.1,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 26 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0.1                       129880 non-null  int64
 1   Unnamed: 0                         129880 non-null  int64
 2   id                                 129880 non-null  int64
 3   Gender                             129880 non-null  object
 4   Customer Type                      129880 non-null  object
 5   Age                                129880 non-null  int64
 6   Type of Travel                     129880 non-null  object
 7   Class                              129880 non-null  object
 8   Flight Distance                    129880 non-null  int64
 9   Inflight wifi service              129880 non-null  int64
 10  Departure/Arrival time convenient  129880 non-null  int64
 11  Ease of Online booking             129880 non-null  int64
 12  Gate location                      129880 non-null  int64
 13  Food and drink                     129880 non-null  int64
 14  Online boarding                    129880 non-null  int64
 15  Seat comfort                       129880 non-null  int64
 16  Inflight entertainment             129880 non-null  int64
 17  On-board service                   129880 non-null  int64
 18  Leg room service                   129880 non-null  int64
 19  Baggage handling                   129880 non-null  int64
 20  Checkin service                    129880 non-null  int64
 21  Inflight service                   129880 non-null  int64
 22  Cleanliness                        129880 non-null  int64
 23  Departure Delay in Minutes         129880 non-null  int64
 24  Arrival Delay in Minutes           129487 non-null  float64
 25  satisfaction                       129880 non-null  object
dtypes: float64(1), int64(20), object(5)
memory usage: 25.8+ MB